{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catégorie {{ category.category }}</h1>
<div class="container-fluid">
    <table class="table table-hover">

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}


            <a href="{{ path('category_index') }}">Retour à la liste</a>


            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </table>
</div>
{% endblock %}
