{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="row">

            <h1>Liste des questions</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}


            <a href="{{ path('questrep_index') }}">Back to the list</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}


    </div>
  </div>
</div>
{% endblock %}
