{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="table table-hover">
    <h1>Liste de question</h1>
                <a href="{{ path('questrep_new') }}"class="btn btn-success">Créer une nouvelle question</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>R1</th>
                <th>R2</th>
                <th>R3</th>
                <th>R4</th>
                <th>Solution</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for questrep in questreps %}
            <tr>
                <td><a href="{{ path('questrep_show', { 'id': questrep.id }) }}">{{ questrep.id }}</a></td>
                <td>{{ questrep.intitule }}</td>
                <td>{{ questrep.reponse1 }}</td>
                <td>{{ questrep.reponse2 }}</td>
                <td>{{ questrep.reponse3 }}</td>
                <td>{{ questrep.reponse4 }}</td>
                <td>{{ questrep.solution }}</td>
                <td>
                    <a href="{{ path('questrep_show', { 'id': questrep.id }) }}"class="btn btn-default">show</a>
                    <a href="{{ path('questrep_edit', { 'id': questrep.id }) }}"class="btn btn-default">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
        </div>
    </div>

{% endblock %}
